@import url("https://fonts.googleapis.com/css?family=Nova+Round");

* {
  font-family: "Nova Round", cursive;


}

body {
  background: url("../resources/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.msg {
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 4px #f09237;
}

body>h1 {
  color: white;
  text-align: center;
}

.nav {}

.border {
  border: 1px solid #f09237;
  border-radius: 100 px;
  margin: 0 20px 0px 20px;
  border-radius: 100px;
}

a {
  text-decoration: none;
}

.nav>h1,
.nav>a {
  color: white;
  font-family: "Nova Round", cursive;
}

.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search input {
  padding-left: 20px;
  height: 40px;
  color: black;
  border: 1px solid white;
  width: 0px;
  border-radius: 20px;
  font-size: 12px;
  text-shadow: none;
}

.search button {
  width: auto;
  text-shadow: none;
  background-color: #f09237;
  border: 0px solid white;
  border-radius: 100px;
  color: white;
  font-size: 30px;
  height: 80px;
  width: 80px;
}

.home_h2 {

  color: white;
  text-align: center;
  margin-bottom: 25px;
}

#button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 150px;
  margin-right: 150px;
}

.popular {
  margin: 10px 0 10px 0px;
  border: none;
  background-color: transparent;
  color: #f09237;
  font-size: 16px;
}

/* ================================================ */

#thumb_time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#series_name {
  text-align: center;
  text-shadow: 3px 3px 13px black;
  color: white;
  font-size: 35px;
}

#thumb {
  flex-grow: 1;
}

#time {
  flex-grow: 3;
  text-shadow: 3px 3px 13px black;
}

#thumb>img {
  margin-left: 100px;
  box-shadow: 3px 3px 30px 1px black;
}

#detail_bg {
  background-image: url("../resources/bg1.jpg");
  position: fixed;
  left: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-top: -25px;
}

#loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallest {
  font-size: 14px;
  text-align: center;
  color: white;
  margin-top: -75px;
}

.seasons {
  font-size: 18px;
  text-align: center;
  color: white;
}

#time>h1 {
  color: #f09237;
  text-align: center;
  font-size: 100px;
}

#comments {
  margin: 100px 0 0 100px;
}

.details {
  margin: 120px 5% 100px 100px;
  color: white;
  text-shadow: 3px 3px 13px black;
  -webkit-text-stroke: 0.7px #000000;
}

.no_result {
  margin-top: 200px
}

/* loading icon========================== */
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}



.lds-rolling {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 20px solid #f09237;
  border-top-color: transparent;
  border-radius: 50%;
}

.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}

.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.lds-rolling {
  width: 89px !important;
  height: 89px !important;
  -webkit-transform: translate(-44.5px, -44.5px) scale(0.445) translate(44.5px, 44.5px);
  transform: translate(-44.5px, -44.5px) scale(0.445) translate(44.5px, 44.5px);
}